@import "tailwindcss";

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes log-stream {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@theme {
  --color-background: #e8e8e8;
  --color-primary: #323232;
  --color-secondary: #ff007f;
  --animate-log-stream: log-stream 10s linear infinite;
}

.mask-fade-compact {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

.animate-scroll {
  animation: scroll-left var(--scroll-duration, 20s) linear infinite;
  will-change: transform;
}

body {
  font-family: var(--font-nebula);
}
.name {
  font-family: var(--font-nebula), var(--font-lubri), var(--font-gugi), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ImageFrame */

.card-container {
  perspective: 1000px;
}
.card-3d {
  transform-style: preserve-3d;
  transition:
    transform 0.3s ease-out,
    filter 0.3s ease-out;
  filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.85));
}

@media (min-width: 1024px) {
  .card-3d:hover {
    transform: rotateY(12deg) rotateX(8deg) scale(1.05) translateZ(20px);
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.95));
  }

  .card-3d:hover .card-content {
    animation-play-state: running;
    animation-iteration-count: 1;
  }

  .card-3d:hover .shine {
    transform: translateX(100%);
  }
}

@keyframes sciFiWiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.card-content {
  animation: sciFiWiggle 0.4s ease-in-out;
  animation-play-state: paused;
}

.shine {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    105deg,
    transparent 40%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 60%
  );
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
  clip-path: polygon(0 0, 95% 0, 100% 5%, 100% 100%, 0 100%);
  z-index: 10;
}

.card-border {
  transition: background-color 0.3s ease;
}

/* End of ImageFrame */
